body {
background: #6C63FF;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}
.topcontainner{
    text-align: center;
}

img {
    border-radius: 8px;
    margin: 0 0 8px 0;
    width: 400px;
}
.box {
    padding: 16px;
    margin: 0 0 8px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h3 {
    margin: 0;
    color: #d1eef1;
}
.box a :hover{
    color: #2c3636;
}

#title {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color:#2c3636;
}
#title a {
    color : #2c3636;
    font-size : 60%;
    text-decoration: none;
}
#title a :hover {
    color : #FFFFFF;
}
#next{
    color : darkred;
    font-size : 200%;
}
