<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/accueilEtudiant.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">



    <title>Accueil</title>

</head>
<div
        style="background-color: #00f1f1;
    padding: 20px;
    text-align: center;
    font-size: 20px;">
<body>
   <h1> Accueil page</h1>
<a href="{{url_for('loginEtudiant')}}">Login page</a>
   <a href="{{url_for('registerEtudiant')}}">Resgister page</a>

</body>

</div>
</html>