<!-- page d'accueil -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/accueil.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Accueil</title>
</head>

<body>
<div class="topcontainner" >
    <h1 id="title">Mon espace personnel , {{ user.first_name }} {{ user.last_name }}

        <a id="logout" title="Se déconnecter" href="{{ url_for('logout') }}">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        |
        <a id="next" title="Page suivante" href="{{ url_for('nextPage') }}">
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </h1>




    <div class="container">
        <!-- ici on va permettre a la personne de creer des questions et visualiser sa creation -->
        <div class="row">
            <div class="box">
                <img src="/static/imgs/e13.png"><br>
                <a href="{{ url_for('create_question') }}" ><h3>Créer une question</h3></a>
            </div>
            <!-- ici avec revoir question on va permettre a la personne de revoir  les questions crées-->
            <div class="box">
                <img src="/static/imgs/e17.png"><br>
                <a href="{{ url_for('all_questions') }}"> <h3>Voir toutes les questions </h3></a>
            </div>
            <!-- ici avec modifier question on va permettre a la personne de modifier ou supprimer  les questions crées-->
            <div class="box">
                <img src="/static/imgs/e16.png"><br>
                <a href="{{ url_for('personal_questions') }}"> <h3>Voir, Modifier ou supprimer mes questions</h3></a>
            </div>
            <!-- ici avec creer examen on va permettre a la personne de creer un examen-->
            <div class="box">
                <img src=""></br>
                <a href="{{url_for('create_exam')}}"> <h3>Créer un examen</h3></a>
            </div>
        </div>
    </div>
</div>
</body>

</html>