<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<div  class="topnav"  style="background-color: #a8ece9;
    padding: 20px;
    text-align: center;
    font-size: 20px;">
  <a class="active" href="{{ url_for('accueilEtudiant') }}">Accueil</a>
  <a href="{{ url_for('loginEtudiant') }}">Login</a>
  <a href="{{ url_for('logoutEtudiant') }}">Logout</a>
</div>

<div
    style="background-color: #00f1f1;
    padding: 20px;
    text-align: center;
    font-size: 20px;">
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>Change Password</h1>
{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}
{% if success %}
<p style="color:green">{{ success }}</p>
{% endif %}
<form method= "POST" >
    <label >Username:</label>
    <input type="text" name="username" required>
    <br>
    <label>Old Password:</label>
    <input type="password" name="old_password" required>
    <br>
    <label>New Password:</label>
    <input type="password" name="new_password" required>
    <br>
    <input type="submit" value="Change Password">
</form>
</body>
</div>
</html>
