<!-- page de creation de question -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes questions </title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- HLJS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <!-- Marked -->
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <!-- Mermaid -->
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/atom-one-dark.min.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script>
        mermaid.initialize({startOnLoad:true});
    </script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/question.js') }}"></script>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createquestion.css') }}">
</head>

<body>
 <a id="menu" title="Revenir au menu principal" href="{{ url_for('accueil') }}"><i class="fa-solid fa-house-user"></i></a>

 <div class="container">
        <form method="POST" action="" id="form" class="mx-auto w-50">
            <div class="form-group">
                <label for="question">Question :</label>
                <textarea class="form-control" id="question" name="question" required="" rows="4" data-lt-tmp-id="lt-445189" spellcheck="false" data-gramm="false"></textarea>
            </div>
            <div id="preview"></div>
            <button class="btn btn-primary" id="btn-preview" type="button" onclick="previewQuestion()">Aperçu</button>
            <br>
            <div id="answers">
                <div class="form-group">
                    <label for="tags">Tags:</label>
                    <select id="tags" class="form-control" multiple="multiple">
                    </select>

                    {% for i in range(1,5) %}
                        <label for="answer{{ i }}">Réponse {{ i }}:</label>
                        <input class="form-control" id="answer{{ i }}" name="answer{{ i }}" required="" type="text" value="">
                        <div class="form-check">
                            <input class="form-check-input" id="correct{{ i }}" name="correct{{ i }}" type="checkbox" value="y" />
                            <label class="form-check-label" for="correct{{ i }}">Réponse correcte</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <input class="btn btn-success" id="submit" name="submit" type="submit" value="Créer la question">
            <p id="error">{{ error }}</p>
        </form>
 </div>
</body>
<script>
    // prevent default when submitted form
    $('#form').submit(function(e) {
        e.preventDefault()
        let question = $('#question').val()
        let tags = $('#tags').val()
        let answers = {
            answer1: $('#answer1').val(),
            answer2: $('#answer2').val(),
            answer3: $('#answer3').val(),
            answer4: $('#answer4').val()
        }
        let correct = {
            correct1: $('#correct1').is(':checked'),
            correct2: $('#correct2').is(':checked'),
            correct3: $('#correct3').is(':checked'),
            correct4: $('#correct4').is(':checked')
        }
        let data = {
            question: question,
            tags: tags,
            answers: answers,
            correct: correct
        }
        fetch('/create_question', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => response.json())
        .then(data => {
            if (!data.success) {
                $('#error').text(data.error)
            } else {
                alert(data.message)
                window.location.href = "/my_questions"
            }
        })
    });
</script>

</html>