<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Exam Code</title>
  <!-- Ajout de la feuille de style Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script>
    var identifier = document.getElementById("identifier");
    identifier.onclick = copyToClipboard();
    function copyToClipboard() {
        var copyText = document.getElementById("identifier");
        copyText.select();
        copyText.setSelectionRange(0, 6)
        document.execCommand("copy");
        alert("Copied the text: " + copyText.value);
    }
</script>
<!-- Ajout de la librairie Socket.io -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="my-5">Votre code d'examen est :  <span class="badge badge-primary" id="identifier">{{ identifier}}</span></h1>          
  <button type="button" class="btn btn-danger">Arrêter l'examen</button>
</div>
<!-- Socket pour arrêt exam et stats etudiants en ligne -->
<script>
    var socket = io.connect('http://localhost:5000');
    var identifier = document.getElementById("identifier").innerHTML;
    button = document.querySelector('button');
    button.addEventListener('click', function() {
        socket.emit('stop_exam', {identifier: identifier});
        // redirect to home page
        window.location.href = "http://localhost:5000/";
    });
    socket.on('stopped_exam', function(data) {
        console.log(data);
    });

</script>
<!-- Ajout des scripts Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>