<!DOCTYPE html>
<html>
<head>
	<title>Fin de l'examen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid mt-5">
	<h1>Fin de l'examen</h1>
	<hr>
	<p>Merci d'avoir participé à cet examen.</p>
	<a href="{{ url_for('etudiant') }}" class="btn btn-primary">Retour à l'accueil</a>
</div>

</body>
</html>
