<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">



    <title>LoginEtudiant</title>
</head>
<body>
<div id="loginform">
   <h1> Connexion </h1>

    <form id="connection" method="POST" action="">
        {{form.hidden_tag() }}
        <p>{{form.username }}</p>
        <p>{{form.password }}</p>
        <p>{{form.submit }}</p>
    </form>

     <div id="ChangerMotDePasse">
         <p> Vous voulez changer votre mot de passe ? <a href="{{url_for('ChangePassword')}}">Changer mot de passe</a>
         <p> Vous voulez changer votre mot de passe ? <a href="{{url_for('registerEtudiant')}}">Changer mot de passe</a>
     </div>
</div>
</body>
</html>